body {
    background: linear-gradient(90deg, rgb(89, 106, 181) 0%, rgb(160, 156, 234) 100%);
    width: 100%;
    height: 100vh;
    margin: 0;
    color: #F2F7A1;
    font-family: Tahoma;
    font-size: 16px;
}

.main {
    background-color: #453C67;
    font-weight: bold;
    width: 80%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
    border-radius: 3%;
    box-shadow: 8px 8px 0px #2D2450;
}

#title {
    text-align: center;
    color: white;
}

form {
    width: 80%;
    max-width: 40em;
    margin: 0 auto;
    padding: 0.5em;
}

label:not(#male-label, #female-label), input[type=text], select {
    display: inline-block;
    box-sizing: border-box;
    -box-sizing: border-box;
    margin-bottom: 0.6em;    
}

label:not(#male-label, #female-label) {
    width: 30%;
    text-align: right;
    margin: 0 10% 0 0;
}

input[type=text] {
    width: 20%;
}

select {
    width: 50%;
}

fieldset {
    border: none;
    padding: 1rem 0;
}

.inline {
    width: unset;
    vertical-align: middle;
    margin: 0 0.5em 0 0;
}

.calculate-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15;
}

button {
    font-size: 17px;
    font-weight: bold;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: rgb(109, 103, 228);
    color: white;
    border-radius: 15px;
}

button:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(109, 103, 228) 0%, rgb(141, 137, 227) 100%);
}
   
button:active {
    transform: translate(0em, 0.2em);
}